<table>
  <tbody>
    <tr>
      <th>Plugin Parameters (redmine_transaction_informer)</th>
    </tr>
       <tr>
        <td>Foreign Domain: <%=  @settings['domain'] %> </td>
      </tr>
       <tr>
        <td>Foreign URL: <%=  @settings['url'] %> </td>
      </tr>
       <tr>
        <td>Report URL: <a target="_BLANK" href="<%=  @settings['report_url'] %>"><%=  @settings['report_url'] %></a> </td>
      </tr>
  </tbody>
</table>
